<%- include('partials/header') %>
    
        <% uploadInformations.forEach(item=> { %>
            <figure>
                <img src=<%=item.filename %> alt="">
                <figcaption>
                    <p>Ordinalname: <%=item.originalName %>
                    </p>
                    <p>Userinput: <%=item.input %>
                    </p>
                </figcaption>
            </figure>
            <% }) %>
                <%- include('partials/footer') %>